.App{
  background: var(--color-background-primary);
  width: 100vw;
}

.mainContainer{
  height: calc(100vh - 56px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 800px) {
  .mainContainer{
    width: 100%;
    flex-direction: row;
  }
}