:root{
  --color-primary: #0f7300;
  --color-secondary: #ffffff;
  --color-tertiary: #000000;
  --color-background-primary: #f5f7fb;
  --color-background-secondary: #ffffff;
  --color-border-primary:#0028641f;
}

*, *::before, *:after {
  margin : 0;
  padding: 0;
  box-sizing: border-box;
}